<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915300545667-3aehan0piitsi0oi05cf8eps87iqeevg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915300545667-3aehan0piitsi0oi05cf8eps87iqeevg</string>
	<key>API_KEY</key>
	<string>AIzaSyC3jGA906ljeSUg66b7cuLrl0lpYsXpHvU</string>
	<key>GCM_SENDER_ID</key>
	<string>915300545667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.checklist</string>
	<key>PROJECT_ID</key>
	<string>checklist-3f709</string>
	<key>STORAGE_BUCKET</key>
	<string>checklist-3f709.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915300545667:ios:fad7cc030fc6c63ba597b6</string>
</dict>
</plist>